/* Стилі для редагування користувача */
#editFormModal {
    top:5%;
    left: 60%;  
}
.modal1{
    border-left: 1px solid black;
    background-color:white;
    margin-top: 2.2%;
}
.modal-backdrop.show {
    opacity: 0;
}
.mContent{
    border: transparent;
    background-color: transparent;
    padding: 0px 5px 0px 5px;
}

/*Стилі для кнопки закриття*/
.clear{
    font-size: 30px;
}
/*Стилі для верхнього тексту*/
.nameUser{
   border: transparent;
    font-size: 20px;
}
.lead{
  font-weight: bold;
}
.domain{
    color: darkturquoise;
    font-weight: bold;
    text-decoration: underline;
}
/*Стилі для нижнього тексту*/
.password{
    color: darkturquoise;
    text-decoration: underline;
}
/*Стилі для Checkbox*/
.checkbox {
    content: "\2713";
    display: inline-block;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 3px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}
/* Стилі для надпису Checkbox */
.ltext{
    display:inline-block;
}

